extends layout

block content

  nav.navbar.navbar-expand-lg.navbar-light
    div.offset-lg-2
      a.navbar-brand(href='/')
        img(src='./images/Logo_ML.png', alt='Logo Mercadolibre', title='Logo ML')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      div.col-lg-9
        form(action='items',method='get').form-inline.my-2.my-lg-0
          .embed-btn.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block.col-lg-12
            input.form-control.post_search_text.m-b(type='text', placeholder='Nunca dejes de buscar' name='search')
            button(type='submit')
              img(src="./images/ic_Search.png")
  .col-lg-10.offset-lg-1
    div.breadcr
        if sApi.filters[0]
          each filter in sApi.filters[0].values[0].path_from_root
                span.fc  >  
                a(href=filter.name)
                  span=filter.name
      each item in sApi.results.slice(0, 4)
          ul.carditem.overflow-hidden
            li
              div.float-left.image-min-width
                a(href='/items/'+item.id)
                  img(src=item.thumbnail, alt=item.query, title=item.query)
              div
                p.font-size-24.padding-top-32.lg-col-3.inline-block.bold="$ "+ item.price.toLocaleString('de-DE', {maximumFractionDigits: 0})
                p.font-size-12.offset-lg-5.inline-block=item.address.state_name
                a(href='/items/'+item.id)
                  p.title.col-lg-7.font-size-18.padding-top-32=item.title

              
